* {
    box-sizing: border-box;
}

.rating {
    display: flex
}
.rating-item{
    width: 40px;
    height: 40px;
    background-color: green;
    border: 2px solid #ffffff;
    cursor: pointer;
}
.rating-item.active{
    background-color: yellow;
}