* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: cadetblue;
}
.left, .right{
    padding: 20px;
    float: left;
    width: 20%;
}
.left{
    background: darkgrey;
}
.right{
    background: navajowhite;
}