body{
    background: gray;
}
#game{
    width: 150px;
    height: 150px;
    background: gray;
    margin: 100px auto;
}
.block{
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid white;
    box-sizing: border-box;
    background: darkolivegreen;
}