<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCompany</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans"
          rel="stylesheet">
</head>
<body>
<header>
    <div class="header__logo"><p>mycompany</p></div>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">SERVICES</a>
            <a href="#">PORTFOLIO</a>
            <a href="#">TESTIMONIALS</a>
            <a href="#">CONTACT</a>
            <a href="#" id="menu" class="icon">&#9776;</a>
        </div>
    </nav>
</header>
<main>
    <div class="main__welcame">
        <h1>WELCOME ON <span class="mycompany">MYCOMPANY</span></h1>
        <p>Сегодня у многих есть по одному,
            а иногда по два и более велосипеда.</div>
    <div class="wrapper">
        <div class="main_about">
            <div class="about__left">
                <img src="img/1.png" alt="img" width="400" height="300">
            </div>
            <div class="about__right">
                <h1>SOME WORDS ABOUT US</h1>
                <p> Велосипед приносит массу удовольствия,
                    помогает сохранить здоровье и поддерживать себя в тонусе</p>
                </p>
                <ul>
                    <li>Первый</li>
                    <li>Второй</li>
                    <li>Третий</li>
                </ul>
            </div>
        </div>
    </div>
</main>


<script src="script.js"></script>
</body>
</html>