#test{
    width: 600px;
    height: 100px;
    background: yellowgreen;
    margin: 50px;
    position: relative;
}
#test2{
    width: 10px;
    height: 100px;
    background: red;
    position: absolute;
    left: 290px;
    top: 0px;
}