body{
    margin: 0;
}
#btn_1{
    position: absolute;
    left: 50%;
    top: 10%;
}
.modal{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(4,5,4,0.6);
}
.modal-content{
    background-color: gray;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid saddlebrown;
    width: 80%;
}
.close{
    color: #5934d6;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: red;
    border: 2px solid saddlebrown;
    cursor: pointer;
}